@page "/contactingCandidate"
@using MyProject.Shared.Entities

<h3>Liên Hệ Ứng Viên</h3>
<div class="d-flex flex-row">
    <div class="m-2">
        <label>Tìm Kiếm:</label>
        <input @oninput="(e) => {search(e.Value.ToString());}" class="form-control" />
    </div>

    <div class="m-2">
        <label>Ngôn Ngữ:</label>
        <select @onchange="(e) => filterPositions(e.Value.ToString())" class="form-select">
            <option value="0" selected>ALL</option>
            @foreach (var vlcbb in valuesOfCombs.FindAll((x) => x.valueOfComb == 1))
            {
                <option value="@vlcbb.id">@vlcbb.value</option>
            }
        </select>
    </div>

    <div class="m-2">

        <label>Vị Trí Ứng Tuyển:</label>
        <select @onchange="(e) => filterRoles(e.Value.ToString())" class="form-select">
            <option value="0" selected>ALL</option>
            @foreach (var vlcbb in valuesOfCombs.FindAll((x) => x.valueOfComb == 2))
            {
                <option value="@vlcbb.id">@vlcbb.value</option>
            }
        </select>
    </div>

</div>

<table class="table-danger table-bordered  text-center tableds">

    <tr class="p-3 mb-2 bg-success text-white">

        <th>
            <input type="checkbox" onclick="@changeCheckedAll" />
        </th>

        <th>
            ID
        </th>

        <th>
            Vị Trí Ứng Tuyển
        </th>

        <th>
            Ngôn Ngữ
        </th>

        <th>
            Họ và Tên
        </th>

        <th>
            Số Điện Thoại
        </th>

        <th>
            Trạng Thái Liên Hệ
        </th>

        <th>
            Thời Gian Phỏng Vấn
        </th>

        <th>
            Địa Điểm Phỏng Vấn
        </th>

        <th>
            Chú Thích
        </th>

        <th>
            Trạng Thái
        </th>

        <th>
            Điểm Bài Test
        </th>

        <th>
            Hành Động
        </th>


    </tr>
    @foreach (var candidate in candidateContacting)
    {
        <tr>

            <td>
                <input type="checkbox" @onchange="(e)=>changeChecked(e,candidate.id)" checked="@candidate.Checked" />
            </td>

            <td>
                @candidate.strID
            </td>

            <td>
                @candidate.nameRole
            </td>

            <td>
                @candidate.namePosition
            </td>

            <td>
                @candidate.Name
            </td>

            <td>
                @candidate.NumberPhone
            </td>

            <td>
                <select @onchange="(e)=>rf(e,candidate.id)">
                    @if (candidate.Contacting == 1)
                    {
                        <option value="0"> Chưa Liên Hệ</option>
                        <option value="1" selected> Không Liên Hệ Được</option>
                        <option value="2"> Liên Hệ Thành Công</option>
                    }
                    else if (candidate.Contacting == 2)
                    {
                        <option value="0"> Chưa Liên Hệ</option>
                        <option value="1"> Không Liên Hệ Được</option>
                        <option value="2" selected> Liên Hệ Thành Công</option>
                    }
                    else
                    {
                        <option value="0" selected> Chưa Liên Hệ</option>
                        <option value="1"> Không Liên Hệ Được</option>
                        <option value="2"> Liên Hệ Thành Công</option>
                    }

                </select>
            </td>

            <td>
                @if (candidate.Status < 4 && candidate.Contacting == 2)
                {
                    <input class="a" @bind="@candidate.timeInterview" type="datetime" />
                }
                else if (candidate.Status >= 4 && candidate.Contacting == 2)
                {
                    foreach (var calendar in CalendarInterviews)
                    {
                        if (candidate.id == calendar.idCandidate)
                        {
                            <input class="b" @bind="@calendar.timeInterview" type="datetime" />
                            candidate.timeInterview = calendar.timeInterview;
                        }
                    }
                }

            </td>

            <td>
                @if (candidate.Status < 4 && candidate.Contacting == 2)
                {
                    <input @bind="@candidate.addressInterview" type="text" />
                }
                else if (candidate.Status >= 4 && candidate.Contacting == 2)
                {
                    foreach (var calendar in CalendarInterviews)
                    {
                        if (candidate.id == calendar.idCandidate)
                        {
                            <input @bind="@calendar.addressInterview" type="text" />
                            candidate.addressInterview = calendar.addressInterview;
                        }
                    }
                }
            </td>

            <td>
                <input @bind="candidate.Note" type="text" />
            </td>

            <td>
                @candidate.nameStatus
            </td>

            <td>
                @if (candidate.Status >= 4)
                {
                    <input @bind="candidate.gradeTest" type="text" />
                }
                else
                {
                    @candidate.gradeTest
                }

            </td>

            <td>
                @if (candidate.Contacting == 2)
                {
                    <button class="btn btn-primary" @onclick="()=>update(candidate.id)"> UPDATE </button>
                }
            </td>


        </tr>

    }

</table>

<button class="btn btn-primary" @onclick="()=>updateAll()"> UPDATE ALL</button>
@if (isLoading)
{
    <LoadingCpn></LoadingCpn>
}
