
<div class="bgr"></div>
<div class="saveTTPV">

    <div>
        <button class="btn float-end" onclick="@Closethis"><i class="fa-regular fa-rectangle-xmark"></i></button>
    </div>
    <div>
        <label>Họ Tên Ứng Viên :</label>
        <span>@calendarInterview.nameCandidate </span>
    </div>
    <div>
        <label>Tiêu Đề :</label>
        <span>@calendarInterview.nameInterview</span>
    </div>

    <div>
        <label>Thời Gian :</label>
        <input type="text" @bind="@calendarInterview.timeInterview" class="form-control" style="text-align:center" />
    </div>
    <div>
        <label>Địa Điểm :</label>
        <input type="text" @bind="@calendarInterview.addressInterview" class="form-control" style="text-align:center" />
    </div>
    <div class="d-flex w-100">
        <div class="m-auto d-flex">
            <label>Người Phỏng Vấn :</label>
            <div>
                @foreach (var userInterview in userInterviews)
                {
                    <div class="d-flex">
                        @if (userInterview.selected == true)
                        {
                            <input type="checkbox" checked @onchange="()=>checkListUserInterview(userInterview.id)" class="form-check" />
                            <span>@userInterview.name</span>
                        }
                        else
                        {
                            <input type="checkbox" @onchange="()=>checkListUserInterview(userInterview.id)" class="form-check" />
                            <span>@userInterview.name</span>
                        }

                    </div>
                }
            </div>
        </div>
    </div>
    <br />

    <div class="d-flex justify-content-around">
        <button class="btn btn-info" @onclick="update">Update</button>
        <button class="btn btn-danger" @onclick="showConfirmDlt">Delete</button>
    </div>

</div>
@if (showCfDlt)
{
    <ConfirmDelete Close="CloseConfirmDlt" Delete="()=>delete(calendarInterview.id)" CloseDetail="Closethis"></ConfirmDelete>
}
@if (isLoading)
{
    <LoadingCpn></LoadingCpn>
}